body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    font-family: sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    width: 100vw;
    height: 100vh;

    background-color: #c6c6c6;
    border: 10px solid #c6c6c6;
    overflow: hidden;

    &.win {
        border-color: green;
    }
    &.lose {
        border-color: red;
    }

    &.loading {
        .placeholder {
            color: transparent;
        }
        .field {
            opacity: 0;
        }
    }
}

.placeholder {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #c6c6c6;
    color: black;
    font-size: 24px;

    transition: color 0.4s;

    border-top: 5px solid #808080;
    border-left: 5px solid #808080;
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}