body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    width: 100vw;
    height: 100vh;

    border: 10px solid #c6c6c6;
    overflow: hidden;
}

.header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;

    background-color: #c0c0c0;

    border-top: 5px solid #808080;
    border-left: 5px solid #808080;
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}