.digits-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 42px;
    padding-left: 1px;
    padding-right: 1px;

    background-color: black;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.digit {
    width: 19px;
    height: 36px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
        margin-right: 2.5px;
    }

    &.d- {
        background-image: url(../../assets/d-.svg);
    }
    &.d0 {
        background-image: url(../../assets/d0.svg);
    }
    &.d1 {
        background-image: url(../../assets/d1.svg);
    }
    &.d2 {
        background-image: url(../../assets/d2.svg);
    }
    &.d3 {
        background-image: url(../../assets/d3.svg);
    }
    &.d4 {
        background-image: url(../../assets/d4.svg);
    }
    &.d5 {
        background-image: url(../../assets/d5.svg);
    }
    &.d6 {
        background-image: url(../../assets/d6.svg);
    }
    &.d7 {
        background-image: url(../../assets/d7.svg);
    }
    &.d8 {
        background-image: url(../../assets/d8.svg);
    }
    &.d9 {
        background-image: url(../../assets/d9.svg);
    }
}